Add references to RFCs

Where a test is testing the requirements of an RFC outside of the spec, it would be really helpful to link to and/or copy the particular requirement in that RFC. 

E.g. under "The LRS rejects with error code 400 Bad Request a token with does not validate as matching the RFC 5646 standard in the sequence of token lengths for language map keys." the tests including the note "two extensions with same single-letter prefix" are all testing the singleton subtag type defined in [RFC 5646 section 2.1](https://tools.ietf.org/html/rfc5646#section-2.1). The specific requirement being tested is in [section 2.2.6](https://tools.ietf.org/html/rfc5646#section-2.2.6) and is requirement 3:

"Each singleton subtag MUST appear at most one time in each tag
       (other than as a private use subtag).  That is, singleton subtags
       MUST NOT be repeated.  For example, the tag "en-a-bbb-a-ccc" is
       invalid because the subtag 'a' appears twice.  Note that the tag
       "en-a-bbb-x-a-ccc" is valid because the second appearance of the
       singleton 'a' is in a private use sequence."

It took me a while to find all this. It would have been awesome to have all that information in the test suite itself. 