LRS should not be required to reject the language tag "English"

The test "statement object interaction component choice "description" language map is string" uses the key "English" in a language map and requires the LRS to reject it. 

However, assuming that the LRS is only applying length and subtag type validation to language tags, and not looking at a list of registered tags, a 7 character primary language tag with no following subtags could be a valid language tag.

See [RFC 5646 section 2.2.1](https://tools.ietf.org/html/rfc5646#section-2.2.1)

```
Any language subtags of five to eight characters in length in the
       IANA registry were defined via the registration process in
       Section 3.5 and MAY be used to form the primary language subtag.
       An example of what such a registration might include is the
       grandfathered IANA registration "i-enochian".  The subtag
       'enochian' could be registered in the IANA registry as a primary
       language subtag (assuming that ISO 639 does not register this
       language first), making tags such as "enochian-AQ" and "enochian-
       Latn" valid.
```

Reading the test title, I wonder if the test description has been misinterpreted. Should we be testing the use of a string instead of a language map object instead, or is that tested elsewhere? Certainly bad language tags are tested elsewhere. 

The test "statement activity "choices" uses choice is an array of non description language" uses "test" as an invalid language tag, but again, a four letter primary language tag could be valid. 